body {
  background-color: burlywood;
  margin: 20px;
}

h1 {
  font-size:150px;
  color: white;
}
h2 {
  font-size:30px
  color: white;
}
.space{
  margin-top:20%;
}

h1{
  text-shadow: 5px 8px #343A40; 
}